<%= form_with(model: user_image, local: true) do |form| %>
  <% if user_image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user_image.errors.count, "error") %> prohibited this user_image from being saved:</h2>

      <ul>
      <% user_image.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :user_image_title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :user_image_description %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.file_field :image, id: :user_image_image %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id, id: :user_image_user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
