<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @user_image.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @user_image.description %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag(@user_image.image.url) if @user_image.image.exists? %>
</p>

<p>
  <strong>User:</strong>
  <%= @user_image.user_id %>
</p>

<%= link_to 'Edit', edit_user_image_path(@user_image) %> |
<%= link_to 'Back', user_images_path %>
